@{
    ViewData["Title"] = "Home Page";
}
<script src="~/Server-Scripts/Dashboard.js"></script>


<section class="gk-section-block">
    <span class="titles">Charts</span>

    <div class="row">


        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="red">
                    <i class="fa fa-bar-chart fa-2x"></i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">
                        Chart here
                    </h4>
                </div>
                <div class="ct-chart GM-Chart2"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="blue">
                    <i class="fa fa-bar-chart fa-2x"></i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">
                       Chart here
                    </h4>
                </div>
                <div class="ct-chart GM-Chart1"></div>
            </div>
        </div>
    </div>
</section>






















    <script>

        $('.page-title').text("Dashboard");
    </script>
