
@{
    ViewData["Title"] = "DatabaseError";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="jumbotron">
   
   
    <h2>Database Coonection </h2>

    <h3>Likely to be a database issue. Please connect your administrator, Thank you for your patience</h3>

</div>